/* .App {
  text-align: center;
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300&display=swap");

@media (max-width: 1400px) {
  .main-dashboard {
    width: 780px;
  }
  .forecast-temp {
    font-size: 20px;
  }

  .description,
  .temp,
  .icon {
    text-align: left;
    font-size: 30px;
  }
  .description-box {
    margin-left: 0;
  }
  .weather-box {
    padding: 30px;
    padding-left: 45px;
  }
  .day {
    font-size: 37px;
  }
}
@media (max-width: 992px) {
  .main-dashboard {
    width: 600px;
  }
  .forecast-temp {
    font-size: 18px;
  }
  .weather-box {
    border-radius: 25px !important;
    margin: 0;
    margin-top: 20px;
  }
  div .weather-condition-box {
    margin-top: 1.5rem;
  }
  .description,
  .temp,
  .icon {
    text-align: center;
    font-size: 25px;
  }

  div .description-box {
    margin-left: 35px;
  }
  .weather-box {
    padding: 30px;
  }
}
@media (max-width: 576px) {
  .main-dashboard {
    width: 350px;
  }
  .forecast-temp {
    font-size: 15px;
  }

  div .description-box {
    margin-left: 0;
  }
  div .information {
    padding-left: 30px;
    padding-right: 0;
    margin-right: 0;
  }
  .day {
    font-size: 30px;
  }
  div .description-row {
    padding: 0;
    margin: 0;
  }
}

.App-header {
  align-items: center;
  font-size: calc(10px + 2vmin);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-dashboard {
  font-family: "Montserrat", sans-serif;
  height: 500px;
  color: #fff;
  margin: 0 auto;
}

.information-box {
  flex-shrink: 0;
  border-radius: 20px;
  background-image: linear-gradient(
      136deg,
      rgba(136, 235, 239, 0.9) 0%,
      rgba(83, 91, 230, 0.7) 100%
    ),
    url("background.jpg");
  background-size: cover;
  color: white;
  z-index: 1;
  padding: 30px;
}
.information {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
}
div .description-box {
  padding: 0;
  margin: 0;
}
.day {
  font-weight: 700;
}
.date {
  font-size: 22px;
  font-weight: 500;
}
.current-city {
  font-size: 20px;
  font-weight: 600;
}
.weather-box {
  height: 93%;
  border-radius: 0 25px 25px 0;
  background: #222831;
  background-size: cover;
  color: white;
  margin: 20px 0 20px 0;
}
.weather-condition-box {
  padding-bottom: 20px;
  font-weight: 700;
}
.weather-condition {
  padding-bottom: 10px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}
.forecast-box {
  margin-bottom: 20px;
}
.forecast {
  width: 104px;
  height: 120px;
  flex-shrink: 0;
  color: #222831;
  font-size: 15px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 1px 2px 2px 0px #222831;
  /* margin-bottom: 20px; */
  margin: 20px 0;
}
.forecast-temp {
  font-weight: 700;
}
.next-days {
  background: #272e37;
  color: white;
}
.search-btn {
  width: 64%;
  color: white;
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(
    131deg,
    rgba(144, 217, 224, 0.9) 0%,
    rgba(84, 96, 230, 0.9) 100%
  );
}
.unit-btn {
  width: 30%;
  color: white;
  background: linear-gradient(
    131deg,
    rgba(144, 217, 224, 0.9) 0%,
    rgba(84, 96, 230, 0.9) 100%
  );
}
footer {
  color: black;
  padding-top: 20px;
  text-align: center;
}
